<div class="bg-black text-light">
<div class="container">
    <div>
        <h1 class="h1 text-lg text-center p-3 text">Gospel to the world</h1>
        <hr>
    </div>
    <ul class="list">
        <li>Marketplace</li>
        <li>Gospel to the world donation</li>
        <li>Gospel to the world courses</li>
        <li>testimonials</li>
        <li>about us</li>
        <li>contact us</li>
        <li>FAQ</li>
        <li>Privacy policy</li>
        <li>term of use</li>
    </ul>
 
</div>
<div class="bg-dark">
    <h3 class="text-center">&copy; All rights reserved 2023</h3>
</div>
</div>