
<mat-sidenav-container>
  <mat-sidenav [(opened)] = "opened">
    <label class="mx-2 text-dark li p-2">Menu options</label>
    <hr>
    <label class="mx-2 text-dark li p-2">church</label>
    <hr>
    <label class="mx-2 text-dark li p-2">ministry</label>
    <hr>
    <label class="mx-2 text-dark li p-2">events</label>
    <hr>
    <label class="mx-2 text-dark li p-2">bible study</label>
    <hr>
    <label class="mx-2 text-dark li p-2">daily verse</label>
    <hr>
    <label class="mx-2 text-dark li p-2">blog</label>
    <hr>
    <label class="mx-2 text-dark li p-2">new soul</label>
    <hr>
  </mat-sidenav>
  <mat-sidenav-content>
<router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>